/* COLORS
#f18119 (orange)
#404040 (dark)
#fff (light)
#ff713b - #ffa51d (gradient)
*/


body {
    margin: 0;
    color: #404040;
}

/********
TYPOGRAPHY
********/

body {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

strong {
    font-weight: 900;
}

h1 {
    font-size: 2.25rem;
    color: #fff;
    margin: 0;
}

h2 {
    font-size: 1.3125rem;
    margin: 0;
    margin: 1em 0 .5em;
}

.subtitle-accent{
    color: #f18119;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 1.5em;
}


.small-text {
    font-size: 0.625rem;
    letter-spacing: 1px;
}

.top-text {
    color: #f18119;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    order: -1;
}

/********
LAYOUT
********/

.intro {
    background-image: url("images/burricks.jpeg");
    background-color: lightblue;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 400px;
}


.main-content {
    width: 80%;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
}


@media (min-width: 700px) {
    body {
        font-size: 1.125rem;
        display: flex;
        min-height: 100vh;
        font-size: 1.125rem;
    }
    
    .titles {
        position: absolute;
        top: 6%;
    }
    
    h2 {
        font-size: 1.75rem;
    }
    
    .intro {
        width: 50%;
        justify-content: flex-start;
    }
    
    .main-content {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}













