
/* COLORS
#f18119 (orange)
#404040 (dark)
#fff (light)
#ff713b - #ffa51d (gradient)
*/


body {
    margin: 0;
    color: #404040;
}


/********
TYPOGRAPHY
********/

body {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

strong {
    font-weight: 900;
}

h1 {
    font-size: 2.25rem;
    font-weight: 400;
    color: #fff;
    padding: 2.5em 1em;
    max-width: 500px;
}

h2 {
    font-size: 1.3125rem;
    margin: 1.5em 0 .5em;
}

h1 + p,
h2 + p {
    color: #f18119;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0 0 1.5em;
}


.small-text {
    font-size: 0.625rem;
    letter-spacing: 1px;
}

.top-text {
    color: #f18119;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 900;
    order: -1;
}

/********
LAYOUT
********/


.intro {
    background-image: url("burricks.jpeg");
    background-color: lightblue;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.main-content {
    width: 80%;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
}


/********
FORM
********/

.email-collector {
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 250px;
}

input {
    width: 100%;
}








@media (min-width: 650px) {
    body {
        font-size: 1.125rem;
    }
    
    h1 {
        font-size: 3.5rem;
        padding: 1.5em 0.5em;
    }
    
    h2 {
        font-size: 1.75rem;
    }
}


@media (min-width: 980px) {
    body {
        display: flex;
        min-height: 100vh;
        font-size: 1.125rem;
    }
    
    .intro {
        width: 50%;
    }
    
    .main-content {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}














