/* COLORS
#f18119 (orange)
#404040 (dark)
#fff (light)
#ff713b - #ffa51d (gradient)
*/


body {
    margin: 0;
    color: #404040;
}

/********
TYPOGRAPHY
********/

body {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

strong {
    font-weight: 900;
}

p {
    line-height: 1.3;
}

h1 {
    font-size: 2.25rem;
    color: #fff;
    margin: 0;
    letter-spacing: 1px;
}

h2 {
    font-size: 1.3125rem;
    margin: 0;
    margin: 1em 0 .5em;
}

.subtitle-accent{
    color: #f18119;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}


/********
LAYOUT
********/

.intro {
    background-color: darkgray;
    background-size: cover;
    background-position: center;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 400px;
}

.burricks {
    background-image: url("images/burricks.jpeg");
}

.deck {
    background-image: url("images/deck0.jpeg");
}


.titles {
    padding: .4em 1em;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 15px;
    margin: 0em .5em 1em;
}


.info-panel {
    width: 80%;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4em;
    padding: 0 1em;
}

.work-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.work-item {
    display: block;
    padding: 1em;
}

@media (min-width: 700px) {
    body {
        font-size: 1.125rem;
        display: flex;
        min-height: 100vh;
        font-size: 1.125rem;
    }
    
    .titles {
        margin-top: 2em;
    }
    
    h2 {
        font-size: 1.75rem;
    }
    
    .intro {
        width: 50%;
    }
    
    .info-panel {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 1em;
    }
    
    .vtop {
        justify-content: flex-start;   
    }
    
    .vcentered {
        margin-top: auto;
        margin-bottom: auto;
    }
}













